PORT = an integer representing the port through which the server will be accessed e.g. 3000
DATABASE_URL = postgres://user_name:password@host:port/db_name
TEST_DATABASE_URL = postgres://user_name:password@host:port/test_db_name
SECRET_KEY = a string representing the secret key for decoding JWTs on the server
APP_URL=the app url
SENDGRID_API_KEY=The sendgrid API key
SERVER_MAIL = noreply@authorsHaven.com
